<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <commerceEngine>
      <paymentProcessor name="acmePayment"
                        type="Commerce.Providers.PaymentProcessor, Commerce.Providers" />
      <mailer name="acmeMailer" type="Commerce.Providers.Mailer, Commerce.Providers"
              fromAddres="miguelcastro67@gmail.com" 
              smtpServer="mail.google.com" />
    </commerceEngine>
</configuration>